@font-face {
    font-family: "Ostrovsky";
    src: url("../res/fonts/Ostrovsky.otf");
}
@font-face {
    font-family: "Montserrat";
    src: url("../res/fonts/Montserrat.ttf");
}

h1{
    font-family: "Ostrovsky";
    font-size: 64pt;
    color: white;
}

h2{
    font-family: "Montserrat";
    font-size: 32pt;
    font-weight: 800;
    color: white;
}

h3{
    font-family: "Montserrat";
    font-size: 32pt;
    font-weight: 600;
    color: white;
}

h4{
    font-family: "Montserrat";
    font-size: 24pt;
    font-weight: normal;
    color: white;
}

p{
    font-family: "Montserrat";
    font-size: 16pt;
    font-weight: normal;
    color: white;
    margin: 0;
}

body{
    background-color: #212121;
    margin: 0;
    padding: 0;
}

*{
    scroll-behavior: smooth;
}

.no-select-text {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* Header */
header{
    overflow: hidden;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 97vw;
    top: 0;
    z-index: 1;
    transition: all 1s ease-out;
}

header.hide{
    transform: translateY(-100%);
    transition: all 1s ease-out;
}

header a{
    font-family: "Montserrat";
    font-size: 14pt;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.header-left{
    text-align: center;
    text-decoration: none;
}

.header-left h1{
    font-family: "Ostrovsky";
    font-size: 24pt;
    margin: 0;
}

.header-left h2{
    font-family: "Montserrat";
    font-size: 12pt;
    font-weight: 200;
    margin: 0;
}

.header-center{
    background-color: #3D3D3D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.header-center a{
    font-family: "Montserrat";
    font-size: 14pt;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    border-radius: 1rem;
    transition: all 1s ease-out;
}

/* .header-center a:not(:last-child)::after {
    content: "";
    position: absolute;
    transform: translateX(25px);
    height: 25px;
    width: 1px;
    background-color: #FFFFFF;
} */

.header-center a:hover{
    color: #000000;
    background-color: #FFFFFF;
    transition: all .5s ease-out;
    transform: scale(.9);
}

.header-center a:active{
    color: #FFFFFF;
    background-color: #5a5a5a;
    transition: all .1s ease-out;
    transform: scale(.8);
}

.header-right{
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 15px 25px 15px 25px;
    transition: all .5s ease-out;
}

.header-right:hover{
    color: #FFFFFF;
    background-color: #000000;
    transition: all .5s ease-out;
    transform: scale(.9);
}

.header-right:active{
    color: #000000;
    background-color: #5a5a5a;
    transition: all .1s ease-out;
    transform: scale(.8);
}

footer{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25px;
}
footer .header-left{
    text-align: left;
}

.footer-bubble{
    border-radius: 2rem;
    background-color: #3D3D3D;
    padding: 10px 15px 10px 15px;
    float: left;
    transform: translateX(-50%);
}

.footer-bubble p{
    margin: 0;
    font-size: 12px;
    font-weight: 800;
}

.content{
    background-color: #5f5f5f;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15vh;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../res/imgs/sec-bg.png");
    background-repeat: repeat;
    background-size: auto;
    filter: blur(30px);
}

section{
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section h1{
    font-weight: normal;
    font-size: 64pt;
    line-height: 3;
    margin-top: 100px;
}

div.gray-block{
    background-color: #3D3D3D;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 2rem;
    margin: 15px;
}

.stratch{
    width: 97%;
}

.centered{
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.gray-block img{
    margin: -15px;
    border-radius: 2rem;
    width: 527px;
    height: 296px;
}

div.gray-block div{
    margin: 30px;
    border-radius: 2rem;
    text-align: left;
}