* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "NotoSans_reg", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: NotoSans_reg;
    src: url(../fonts/NotoSans-Regular.ttf);
}
@font-face {
    font-family: NotoSans_light;
    src: url(../fonts/NotoSans-Light.ttf);
}
@font-face {
    font-family: NotoSans_bold;
    src: url(../fonts/NotoSans-Bold.ttf);
}
@keyframes up-down {
    from {
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.3)), url('../Resources/imgs/bg.jpg');
    background-size: 250%;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 40px;
    font-weight: 800;
    color: white;
}
.menu{
    display: flex;
}
.menu a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.menu a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 40px;
    z-index: 101;
    cursor: pointer;
    display: none;
}
.main-section{
    height: 80%;
    width: 100%;
    min-height: 80vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 2rem;
    text-align: center;
}
.main-section h1{
    font-size: 60px;
    color: white;
    font-family: "NotoSans_bold";
}
.main-section h2{
    font-size: 38px;
    color: white;
    font-family: "NotoSans_light";
}
.sec-section{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: block;
    align-items: top;
    text-align: center;
    background: rgb(24, 24, 27);
}
.arr-icon{
    font-size: 120px;
    color: white;
    animation: up-down 1s infinite alternate-reverse;
    transition: all .55s ease;
    height: 120px;
}
.arr-icon.invisible{
    color: transparent;
}
.gr{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 2rem;
    text-align: left;
}
.m-grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem;
    padding-left: 5%;
    padding-right: 5%;
}
.text h1{
    color: white;
    font-size: 48px;
    padding-left: 15px;
    font-family: "NotoSans_bold";
}
.text h2{
    color: white;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 15px;
}
.text h3{
    color: gray;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 15px;
}
.img img{
    width: 512px;
    height: auto;
}
.vert-grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    text-align: center;
    align-items: center;
}
.vert-grid a{
    color: white;
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 15px;
    background: rgb(163, 63, 209);
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all .55s ease;
    text-decoration: none;
}
.vert-grid a:hover{
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
}
.step{
    margin-top: 15px;
}
footer p{
    font-size: 18px;
    text-align: center;
    line-height: 3;
    color: gray;
}
footer{
    background: rgb(24, 24, 27);
}
@media (max-width: 1195px){
    .text{
        text-align: center;
    }
    .vert-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .m-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .img{
        width: 0px;
    }
    .img img{
        width: 0px;
    }
    #menu-icon{
        font-size: 80px;
        display: inline-block;
    }
    .sec-section{
        height: 50%;
        width: 100%;
        min-height: 50vh;
    }
    .menu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #00000077;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        border-radius: 25px 0px 0px 25px;
        transition: all .55s ease;
    }
    .menu a{
        margin-left: 0;
        display: block;
        margin: 10px 0;
        font-size: 30px;
    }
    .menu.open{
        right: 0;
    }
}